<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
	<!-- 공지글 작성 -->
	<select id="sequence" resultType="long">
		select notice_seq.nextval from dual
	</select>
	<insert id="write">
		insert into notice(notice_no, notice_type, notice_title, notice_content, notice_writer_no)
		values(#{noticeNo}, #{noticeType}, #{noticeTitle}, #{noticeContent}, #{noticeWriterNo})
	</insert>
	
	<!-- 공지글 상세 조회 -->
	<select id="detail" resultType="NoticeDto">
		select 
		    n.notice_no,
		    n.notice_type,
		    n.notice_title,
		    n.notice_content,
		    n.notice_writer_no,
		    n.notice_write_date,
		    coalesce(m.member_name, '인사팀') as notice_writer_name
		from notice n
		left outer join member m on n.notice_writer_no = m.member_no
		where n.notice_no = #{noticeNo}
	</select>
	
	<!-- 공지글 삭제 -->
	<delete id="delete">
		delete notice where notice_no = #{noticeNo}
	</delete>
	
	<!-- 전체 게시글 수 조회 -->
	<select id="count" resultType="int" parameterType="SearchVO">
	    select count(*)
	    from notice n
	    left outer join member m on n.notice_writer_no = m.member_no
	    <where>
	        <if test="column != null and keyword != null">
	            <choose>
	                <when test="column == 'notice_writer_name'">
	                    instr(nvl(m.member_name, '인사팀'), #{keyword}) > 0
	                </when>
	                <when test="column == 'notice_title'">
	                    instr(n.notice_title, #{keyword}) > 0
	                </when>
	                <when test="column == 'notice_content'">
	                    instr(n.notice_content, #{keyword}) > 0
	                </when>
	            </choose>
	        </if>
	    </where>
	</select>
	
	<!-- 목록 조회 & 검색 조회 -->
	<select id="search" resultType="NoticeDto" parameterType="SearchVO">
		select * from (
			select rownum rn, TMP.* from (
				select 
					n.notice_no,
					n.notice_type,
					n.notice_title,
					n.notice_writer_no,
					n.notice_write_date,
					coalesce(m.member_name, '인사팀') as notice_writer_name
				from notice n
				left outer join member m on n.notice_writer_no = m.member_no
				<where>
	                <if test="column != null and keyword != null">
	                    <choose>
	                        <when test="column == 'notice_writer_name'">
	                            instr(nvl(m.member_name, '인사팀'), #{keyword}) > 0
	                        </when>
	                        <when test="column == 'notice_title'">
	                            instr(n.notice_title, #{keyword}) > 0
	                        </when>
	                        <when test="column == 'notice_content'">
	                            instr(n.notice_content, #{keyword}) > 0
	                        </when>
	                    </choose>
	                </if>
	            </where>
				order by n.notice_write_date desc
			) TMP
			where rownum 
			<![CDATA[
			<= #{page} * #{size}
		)	
		where rn > (#{page} - 1) * #{size}
		]]>
	</select>
		
	<!-- 공지글 수정 -->
	<update id="edit">
		update notice 
		set
			notice_type=#{noticeType},
			notice_title=#{noticeTitle},
			notice_content=#{noticeContent},
			notice_write_date=systimestamp
		where notice_no = #{noticeNo}
	</update>
	
	<!-- 첨부파일 이미지 연결 -->
	<insert id="connect">
		insert into notice_image(notice_no, attachment_no)
		values(#{noticeNo}, #{attachmentNo})
	</insert>
	<select id="findAttachList" resultType="AttachmentDto">
		select A.* from notice_image NI
		join attachment A on A.attachment_no = NI.attachment_no
		where NI.notice_no = #{noticeNo}
	</select>
	
	<!-- 첨부파일 찾기 -->
	<select id="findNoticeImageAttachmentNoList" resultType="int">
	    select attachment_no from notice_image where notice_no = #{noticeNo}
	</select>
	<select id="findEditorAttachmentNoList" resultType="int">
	    select attachment_no from notice_editor_image where notice_no = #{noticeNo}
	</select>
	
	<!-- 서머노트 이미지 연결 -->
	<insert id="connectEditor">
		insert into notice_editor_image(notice_no, attachment_no)
		values(#{noticeNo}, #{attachmentNo})
	</insert>
	<select id="findEditorAttachList" resultType="AttachmentDto">
		select A.* from notice_editor_image NEI
		join attachment A on A.attachment_no = NEI.attachment_no
		where NEI.notice_no = #{noticeNo}
	</select>
	
	<!-- 전체 첨부파일 연결 해제 -->
	<delete id="deleteNoticeImageConnections">
	    delete from notice_image 
	    where notice_no = #{noticeNo}
	</delete>
	<!-- 전체 서머노트 이미지 연결 해제 -->
	<delete id="deleteEditorImageConnections">
	    delete from notice_editor_image 
	    where notice_no = #{noticeNo}
	</delete>
	
	<!-- 개별 첨부파일 연결 해제 -->
	<delete id="deleteNoticeImageConnection">
	    delete from notice_image 
	    where notice_no = #{noticeNo} and attachment_no = #{attachmentNo}
	</delete>
	<!-- 개별 서머노트 이미지 연결 해제 -->
	<delete id="deleteEditorImageConnection">
	    delete from notice_editor_image 
	    where notice_no = #{noticeNo} and attachment_no = #{attachmentNo}
	</delete>

	
	
</mapper>

