<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="plan">

	<select id="sequence" resultType="long">
    	select plan_seq.nextval from dual
	</select>
	
	<!-- 등록 -->
	<insert id="make">
		insert into plan(
			plan_no, plan_sender_no, plan_type, 
			plan_title, plan_content, plan_color,
			plan_start_time, plan_end_time, plan_is_all_day
		)
		values (
			#{planNo}, #{planSenderNo}, #{planType},
			#{planTitle}, #{planContent}, #{planColor}, 
			#{planStartTime}, #{planEndTime}, #{planIsAllDay}
		)
	</insert>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete plan where plan_no = #{planNo}
	</delete>
	
	<!-- 전체 조회(개인 + 팀) -->
	<select id="allList" resultType="PlanDto">
		select distinct p.* from plan p
		left join plan_receive pr on p.plan_no = pr.plan_receive_plan_no
		where p.plan_sender_no = #{memberNo} 
			or (pr.plan_receive_receiver_no = #{memberNo}
				and pr.plan_receive_is_accept = 'Y'
			)
		order by p.plan_start_time desc
	</select>
	
	<!-- 전체 조회(개인-Todo) -->
	<select id="personalList" resultType="PlanDto">
		select * from plan
		where plan_sender_no = #{memberNo} and plan_type = '개인'
		order by plan_start_time asc
	</select>
	
	<!-- 전체 조회(팀-일정) -->
	<select id="teamList" resultType="PlanDto">
		select distinct p.* from plan p
		left join plan_receive r on p.plan_no = r.plan_receive_plan_no
		where p.plan_type = '팀' 
		and (p.plan_sender_no = #{memberNo} 
			or (r.plan_receive_receiver_no = #{memberNo}
				and r.plan_receive_is_accept = 'Y'
			)
		)
		order by p.plan_start_time asc
	</select>
	
	<!-- 상세 조회 -->
	<select id="detail" resultType="PlanDto">
		select * from plan 
		where plan_no = #{planNo}
	</select>
	
	<!-- 수정 (일정 달성 여부) -->
	<update id="updateStatus">
		update plan set plan_status = #{planStatus}
		where plan_no = #{planNo}
	</update>
	
	<!-- 조회(일정 시작 30분 전 알림) -->
	<select id="findPlansStartingSoon" resultType="PlanWithReceiversVO">
		select 
	        p.plan_no, p.plan_title, p.plan_sender_no, p.plan_content, p.plan_color,
	        p.plan_start_time, p.plan_end_time, p.plan_is_all_day, p.plan_status,
	        m.member_name as plan_sender_name, m.member_department as plan_sender_department
	    from plan p
	    join member m on p.plan_sender_no = m.member_no
	    where p.plan_start_time between #{timeStart} and #{timeEnd}
	</select>
	
	<!-- 조회(일정 시작 알림) -->
	<select id="findPlansStartingAt" resultType="PlanWithReceiversVO">
		select 
	        p.plan_no, p.plan_title, p.plan_sender_no, p.plan_content, p.plan_color,
	        p.plan_start_time, p.plan_end_time, p.plan_is_all_day, p.plan_status,
	        m.member_name as plan_sender_name, m.member_department as plan_sender_department
	    from plan p
	    join member m on p.plan_sender_no = m.member_no
	    where p.plan_start_time between #{timeStart} and #{timeEnd}
	</select>	
	
	<!-- 조회(일정 종료 알림) -->
	<select id="findPlansEndingAt" resultType="PlanWithReceiversVO">
	    select 
	        p.plan_no, p.plan_title, p.plan_sender_no, p.plan_content, p.plan_color,
	        p.plan_start_time, p.plan_end_time, p.plan_is_all_day, p.plan_status,
	        m.member_name as plan_sender_name, m.member_department as plan_sender_department
	    from plan p
	    join member m on p.plan_sender_no = m.member_no
	   	where p.plan_end_time between #{timeStart} and #{timeEnd}
	</select>
	
</mapper>