<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="roomChat">
	
	<!-- 채팅 메세지 번호 시퀀스 조회 -->
	<select id="sequence" resultType="long">
		select room_chat_seq.nextval from dual
	</select>
	
	<!-- 채팅 메세지 DB에 등록 -->
	<insert id="insert" parameterType="RoomChatDto">
		insert into room_chat(
			room_chat_no, room_chat_sender, room_chat_origin,
			room_chat_type, room_chat_content, room_chat_time
		)
		values(
			#{roomChatNo}, #{roomChatSender}, #{roomChatOrigin},
			#{roomChatType}, #{roomChatContent}, #{roomChatTime}
		)
	</insert>
	
	<!-- 방번호 기준 모든 채팅 조회 -->
	<select  id="listByRoom" parameterType="long" resultType="RoomChatDto">
		select
			room_chat_no, room_chat_sender, room_chat_origin,
			room_chat_type, room_chat_content, room_chat_time
		from room_chat
		where room_chat_origin = #{roomChatOrigin}
		order by room_chat_time asc
	</select>
	
	<!-- 최근 채팅 몇 개만 조회 -->
	<select id="listRecent" parameterType="map" resultType="RoomChatDto">
		select
			room_chat_no, room_chat_sender, room_chat_origin,
			room_chat_type, room_chat_content, room_chat_time
		from (
			select
				room_chat_no, room_chat_sender, room_chat_origin,
				room_chat_type, room_chat_content, room_chat_time
			from room_chat
			where room_chat_origin = #{roomChatOrigin}
			order by room_chat_time desc
		)
		<![CDATA[
		where rownum <= #{count}
		]]>
		order by room_chat_time asc
	</select>
	
</mapper>